<form class="well" (submit)="addTask($event)">
  <input [(ngModel)]="title" name="tile" type="text" class="form-control" placeholder="Add task">
</form>

<div class="task-list">
  <div *ngFor="let task of tasks">
    <div class="col-md-1">
      <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
    </div>
    <div class="col-lg-7">
      {{ task.title }}
    </div>
    <div class="col-lg-4">
      <input (click)="deleteTask(task._id)" type="button" value="delete" class="btn btn-danger">
    </div>
    <br><br>
  </div>
</div>
