<form class="well" (submit)="addTask($event)">
  <h3 class="titles">Add task : </h3>
  <input [(ngModel)]="title" name="title" type="text" class="inputs form-control" placeholder="Add task">
</form>
<form class="well" (submit)="filtersAction($event)">
  <h3 class="titles">Filters : </h3>
  <input id="filterTitle" [(ngModel)]="filters.title" [ngModelOptions]="{standalone: true}" type="text" class="inputs filters form-control" placeholder="Enter task name">
  <select id="filterIsDone" [(ngModel)]="filters.isDone" [ngModelOptions]="{standalone: true}" class="inputs filters form-control">
      <option value="">Select a status</option>
      <option value=true>Is done</option>
      <option value=false>Is not done</option>
  </select>
  <input type="submit" class="btn submitButtons">
</form>
<div class="total result" *ngIf="tasks">
    <div class="col-lg-4 col-lg-offset-8">From {{ intervalEntriesMin }} to {{ intervalEntriesMax }} on {{ totalEntries }} entries</div>
</div>
<div class="task-list">
  <div *ngFor="let task of tasks" class="row">
    <div class="col-lg-1">
      <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
    </div>
    <div class="col-lg-7">
      {{ task.title }}
    </div>
    <div class="col-lg-4">
      <span class="glyphicon glyphicon-remove removeIcons" (click)="deleteTask(task._id)"></span>
    </div>
  </div>
</div>

<ul class="pagination">
  <li *ngFor="let page of paginator" [ngClass]="{'active': page.number == currentPage}" (click)="goToPage(page.number); false">
    <a href="#">
      Page {{ page.number }}
    </a>
  </li>
</ul>
