<form class="well" (submit)="addTask($event)">
  <input [(ngModel)]="title" name="title" type="text" class="form-control" placeholder="Add task">
</form>
<form class="well" (submit)="filtersAction($event)">
  <h3>Filter the list</h3>
  <label for="filterTitle" class="filter filterLabel">Title</label>
  <input id="filterTitle" [(ngModel)]="filters.title" [ngModelOptions]="{standalone: true}" type="text" class="filter filterInput form-control" placeholder="Enter task name"><br>
  <label for="filterIsDone" class="filter filterLabel">Status</label>
  <select id="filterIsDone" [(ngModel)]="filters.isDone" [ngModelOptions]="{standalone: true}" class="filter filterInput form-control">
      <option value="">All</option>
      <option value="1">Is done</option>
      <option value="0">Is not done</option>
  </select>
</form>
<div class="total result" *ngIf="tasks">
    <div class="col-lg-4 col-lg-offset-8">De {{ intervalEntriesMin }} à {{ intervalEntriesMax }} sur {{ totalEntries }}</div>
</div>
<div class="task-list">
  <div *ngFor="let task of tasks">
    <div class="col-md-1">
      <input type="checkbox" [checked]="task.isDone" (click)="updateStatus(task)">
    </div>
    <div class="col-lg-7">
      {{ task.title }}
    </div>
    <div class="col-lg-4">
      <input (click)="deleteTask(task._id)" type="button" value="delete" class="btn btn-danger">
    </div>
  </div>
</div>

<ul class="pagination">
  <li *ngFor="let page of paginator" [ngClass]="{'active': page.number == currentPage}" (click)="goToPage(page.number); false">
    <a href="#">
      Page {{ page.number }}
    </a>
  </li>
</ul>

<div>
  COUNT ALL ENTRIES : {{ totalEntries }}<br>
  Number Pages : {{ numberPages }}<br>
  Current page : {{ currentPage }}<br>
  Result per page : {{ countPerPage }}<br>
</div>

